:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.charImage {
  height: 320px;
}

.character {
  height: 450px;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

.character:hover {
  background-color: var(--blue);
  color: var(--black);
}
